.center 
{
    display: flex;
    justify-content: center;
}


.contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
  }
  
  .center {
      display: flex;
      justify-content: center;
    }
  
    .mat-flat-button
    {
      background-color:  #1b3e6e;
    }
  
    .mat-form-field--inline {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .mat-form-field--inline .mat-form-field {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
    }
    
    .mat-form-field--inline .mat-form-field:nth-child(1) {
      margin-right: 10px;
    }